
html {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.main-heading {
  text-align: center;
}

.intro,
.members {
  margin: 0 auto;
}

.intro {
  width: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members a {
  display: inline-block;
  text-decoration: none;
  width: 300px;
}

.members a:hover {
  opacity: .8;
  transition: .25s;
}

.members figure {
  display: inline-block;
}

.members img {
  width: 100%;
  height: auto;
}

.members figcaption {
  text-align: center;
  padding: 10px;
  background-color: #151515;
  color: #ffffff;
}
