
html {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  background-color: #eee;
  transition: 1s ease-in-out all;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}

table {
  width: 100%;
  text-align: left;
}

tr:nth-child(2n) {
  background-color: #cccccc;
}

.hidden {
  display: none !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}

.main-heading {
  margin-top: 100px;
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  color: rgb(136, 98, 65);
}

.menu {
  background-color: #FF7B00;
  text-align: center;
  font-family: Arial;
}

  .menu__items {
    margin: 0;
  }

    .menu__item {
      display: inline-block;
      height: 100%;
    }

      .menu__link {
        display: inline-block;
        padding: 20px 10px;
        text-decoration: none;
        color: #000000;
        transition: 0.2s all;
      }
      .menu__link:hover {
        background-color: rgb(255, 163, 78);
      }

/* ==========================================================================
   Forside
   ========================================================================== */

.intro,
.members {
  margin: 0 auto;
}

.intro {
  width: 50%;
}

.js-btn {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members a {
  display: inline-block;
  text-decoration: none;
  width: 300px;
}

.members a:hover {
  opacity: .8;
  transition: .25s;
}

.members figure {
  display: inline-block;
  overflow: hidden;
}

.members img {
  width: 100%;
  height: auto;
}

.members figcaption {
  text-align: center;
  padding: 10px;
  background-color: #151515;
  color: #ffffff;
}

/* ==========================================================================
   Prosjekt
   ========================================================================== */

.gruppe-label {
  position: absolute;
  top: 0;
  left: 50px;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.prosjekt-beskrivelse img {
  margin-bottom: 25px;
}

.prosjekt-lenker {
  position: fixed;
  left: 0;
  top: 170px;
  padding: 10px;
  background-color: rgb(255, 163, 78);
}

  .prosjekt-lenker a {
    display: block;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: .25s all;
  }

    .prosjekt-lenker a:hover {
      background-color: #444444;
    }

/* ==========================================================================
   Christoffer
   ========================================================================== */



/* ==========================================================================
   Mathias
   ========================================================================== */
  


/* ==========================================================================
   Cathrine
   ========================================================================== */
  


/* ==========================================================================
   Erlend
   ========================================================================== */
  


/* ==========================================================================
   Lars Emil
   ========================================================================== */
  


/* ==========================================================================
   Daniel
   ========================================================================== */
  

   